@mixin respond-to($breakpoint) {
  @if $breakpoint == "xsmall" {
    @media (max-width: 480px){
      @content;
    }
  }
  @if $breakpoint == "small" {
    @media (max-width: 767px){
      @content;
    }
  }
  @if $breakpoint == "medium" {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  }
  @else if $breakpoint == "large" {
    @media (min-width: 1024px) and (max-width: 1279px){
      @content;
    }
  }
  @else if $breakpoint == "xlarge" {
    @media (min-width: 1280px) and (max-width: 1440px){
      @content;
    }
  }
}