@import 'breakpoints';

$main-color: #76a7e1;
$light-grey: #a5abc5;
$dark-grey: #6e768f;
$grey: #9098b8;
$white: #ffffff;
$font: 'Roboto', sans-serif;

*{
	margin:0;
	padding:0;
}

body {
	background-color: #eceef4;
	font-family: $font;
	font-size: 14px;
	line-height: 1.3em;
	font-weight: 400;
	color: $grey;
	letter-spacing: 0.5px;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	@include respond-to(large){
		max-width: 960px;
	}
	@include respond-to(medium){
		max-width: 720px;
	}
	@include respond-to(small){
		max-width: 450px;
	}
	@include respond-to(xsmall){
		max-width: 290px;
	}
}
#logo{
	display: block;
	margin: 65px auto;
	width: 100px;
	height: 100px;
	opacity: 0.2;
}
#form{
	background-color: $white;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto 120px;
	border: 1px solid #c9d0e1;
	border-radius: 5px;
}

button.total{
	width: 170px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #d7d8e0;
	text-transform: uppercase;
	font-family: $font;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 1px;
	&.order{
		background-color: #5fcac6;
		color: $white;
		border: 1px solid #54aca9;
		&:active, &:hover{
			background-color: #54aca9;
		}
	}
	&.quate{
		color: $grey;
		background-color: $white;
		&:active, &:hover {
			background-color: #d7d8e0;
		}
	}
	&:focus{
		outline: none;
	}
}
.row{
	display: flex;
}
.row-head{
	padding: 25px 35px;
	border-bottom: 1px solid #c9d0e1;

	.col-l{
		flex: 0 0 70%;
		max-width: 70%;
	}
	.col-r{
		flex: 0 0 30%;
		max-width: 30%;

		h4{
			font-size: 18px;
			color: $dark-grey;
			text-transform: uppercase;
			padding-right: 50px;
			display: flex;
			align-items: center;

			span {
				padding-right: 20px;
				font-size: 26px;
			}
		}
		p {
			font-size: 13px;
			padding-left: 48px;
			margin: 15px 0;
		}
		.contacts{
			padding-left: 48px;
			a{
				text-decoration: none;
				font-weight: 700;
				color: #6e768f;
				margin-right: 20px;
			}
		}
	}
	&__total{

		.col-l{
			flex: 0 0 70%;
			max-width: 70%;
		}
		.col-r{
			flex: 0 0 30%;
			max-width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			position: relative;
			&:after{
				position: absolute;
				content: "";
				display: block;
				width: 1px;
				height: 139%;
				background-color: #c9d0e1;
				top:-25px;
				right: 20px;
			}
		}

		h4{
			font-size: 20px;
			color: $dark-grey;
			text-transform: uppercase;
			padding-right: 50px;
			display: flex;
			align-items: center;

			span {
				padding-right: 15px;
				font-size: 30px;
			}
		}
	}
	&__total-val {
		display: flex;
		padding: 0 40px;

	}
	&__total-val-item {
		display: flex;
		flex-direction: column;
		padding: 25px 0;
		width: 25%;

		h5 {
			text-transform: uppercase;
			color: $dark-grey;
			font-weight: 700;
			font-size: 16px;
			margin-bottom: 15px;
		}
		p {
			border: none;
			color: $grey;
			font-size: 14px;
			font-family: $font;
		}
	}
}

.row-choice {
	padding: 90px 105px 70px 130px;
	h2{
		color: $dark-grey;
		font-size: 20px;
		line-height: 2em;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: center;
		width: 460px;
		border-bottom: 1px solid #d7d8e0;
		margin: 0 auto 70px;
	}
}
.make-choice {
	justify-content: space-between;
	&__item{
		width: 30%;
		position: relative;

		//input[type="radio"]::-ms-expand {
		//	display: none;
		//}
		input[type="radio"]{
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			height: 200px;
			border: 1px solid #d7d9e0;
			border-radius: 5px;
			position: relative;

			&:before, &:after{
				position: absolute;
				content: "";
				top: -20px;
				right: -20px;
				width: 40px;
				height: 40px;
				background-size: cover;
				opacity: 0;
			}
			&:after{
				background: url("/images/check-mark.svg");
				z-index: 2;
			}
			&:before{
				background: $white;
				border-radius: 50%;
				z-index: 1;
			}
		}
		input[type="radio"]:checked{
			border: 6px solid $main-color;
			outline: none;
			&:before, &:after{
				opacity: 1;
			}
		}
		input[type="radio"]:focus{
			outline: none;
		}
		#mch1{
			background: url("/images/web-page.png") no-repeat 50% 40%, #f7f7fa;
			background-size: 95px 100px;
		}
		#mch2{
			background: url("/images/document.png") no-repeat 50% 40%, #f7f7fa;
			background-size: 95px 100px;
		}
		#mch3{
			background: url("/images/social.png") no-repeat 50% 40%, #f7f7fa;
			background-size: 95px 100px;
		}

		label {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}
}
.row-step {
	margin-top: 80px;

	&__title {
		font-size: 20px;
		line-height: 45px;
		color: $dark-grey;
		font-weight: 400;
		position: relative;
		margin-bottom: 40px;

		span {
			color: $light-grey;
			font-size: 12px;
			padding-left: 15px;

		}

		&:before {
			position: absolute;
			top:0;
			left: -75px;
			display: block;
			font-size: 20px;
			text-align: center;
			width: 45px;
			height: 45px;
			border: 1px solid $dark-grey;
			border-radius: 50%;
			color: $dark-grey;
		}
		&.title1:before{
			content: "1";
		}
		&.title2:before{
			content: "2";
		}
		&.title3:before{
			content: "3";
		}
		&.title4:before{
			content: "4";
			left: 0;
		}
		&.title5:before{
			content: "5";
		}
		&.title4{
			padding-left: 75px;
		}
	}
}
.upload {
	display: block;
	margin-bottom: 40px;
	width: 230px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid $grey;
	border-radius: 5px;
	cursor: pointer;

	.icon-fa{
		padding-right: 10px;
	}
	input[type="file"]{
		display: none;
	}
}
.result {
	padding: 20px 50px 20px 45px;
	border: 1px solid #e6e8ee;
	border-radius: 5px;

	&__item {
		line-height: 40px;
	}
	&__item:first-child {
		flex: 0 0 40%;
		max-width: 40%;
	}
	&__item:nth-child(2) {
		flex: 0 0 20%;
		max-width: 20%;
	}
	&__item:nth-child(3) {
		flex: 0 0 30%;
		max-width: 30%;
	}
	&__item:last-child {
		flex: 0 0 10%;
		max-width: 10%;
	}

	&__head {
		margin-bottom: 5px;
		div {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 12px;
		}
	}
	&__item-row {
		margin-bottom: 0px;

		.item-name .icon-fa{
			padding-right: 20px;
		}
		.trash {
			cursor: pointer;
			.icon-fa {
				padding-left: 20px;
			}
		}
	}
}
.choose-lang {
	align-items: center;
	margin-bottom: 25px;

	h5{
		text-transform: uppercase;
		font-size: 12px;
		width: 40px;
		text-align: right;
		padding-right: 20px;
	}
	.select {
		position: relative;
		cursor: pointer;

		&:after {
			position: absolute;
			content: "";
			top: calc(50% - 3px);
			right: 15px;
			width: 0;
			height: 0;
			border: 6px solid transparent;
			border-color: #9098b8 transparent transparent transparent;
			pointer-events: none;
		}

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: block;
			width: 200px;
			height: 50px;
			border-radius: 5px;
			border: 1px solid #e6e8ee;
			float: right;
			margin: 5px 0px;
			padding: 0px 24px;
			font-size: 16px;
			line-height: 1.75;
			color: #9098b8;
			background-color: #f7f7fa;
			-ms-word-break: normal;
			word-break: normal;
		}
		select::-ms-expand {
			display: none;
		}
	}
}
.choose-lang:last-child{
	margin-bottom: 0;
}
.step3{
	flex: 0 0 45%;
	max-width: 45%;
	.choice-tone {
		flex-direction: column;
		&__item {
			width: 235px;
			position: relative;
			margin-bottom: 15px;

			input[type="radio"]{
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 235px;
				height: 65px;
				border: 1px solid #d7d9e0;
				border-radius: 5px;
				position: relative;
				background: #f7f7fa;

				&:before, &:after{
					position: absolute;
					content: "";
					top: -15px;
					right: -15px;
					width: 30px;
					height: 30px;
					background-size: cover;
					opacity: 0;
				}
				&:after{
					background: url("/images/check-mark.svg");
					z-index: 2;
				}
				&:before{
					background: $white;
					border-radius: 50%;
					z-index: 1;
				}
			}
			input[type="radio"]:checked{
				border: 6px solid $main-color;
				outline: none;
				&:before, &:after{
					opacity: 1;
				}
			}
			input[type="radio"]:focus{
				outline: none;
			}
			label {
				position: absolute;
				top: 36%;
				left: 0;
				width: 100%;
				display: flex;
				justify-content: center;
				.icon-fa{
					padding-right: 15px;
				}
			}
		}
	}
}
.step4{
	flex: 0 0 55%;
	max-width: 55%;
}

.slide-container {
	width: calc(100% - 80px);
	padding: 10px 40px 15px;

	.slider {
		-webkit-appearance: none;
		width: 100%;
		height: 8px;
		border-radius: 5px;
		background: #eff0f5;
		outline: none;
		position: relative;

		&:before, &:after{
			position: absolute;
			content: "";
			border-radius: 50%;
			background-color: #d6d8e2;
			width: 8px;
			height: 8px;
			top: 0;
			z-index: 1;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
	}
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #edbe76;
		cursor: pointer;
		z-index: 2;
	}

	.slider::-moz-range-thumb {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #edbe76;
		cursor: pointer;
	}
}
#range-items {
	justify-content: space-between;
	span {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 11px;
		letter-spacing: 1.5px;
		&.active{
			color: #edbe76;
		}
	}
}
#info-row {
	padding: 25px 30px 25px 45px;
	border: 1px solid #d7d9e0;
	border-radius: 5px;
	margin-top: 40px;

	h5 {
		text-transform: uppercase;
		margin-bottom: 15px;
		font-size: 12px;
		letter-spacing: 1.5px;
		height: 20px;
		display: flex;
		align-items: center;
		color: #727895;

		span{
			font-size: 20px;
			padding-right: 15px;
		}
	}
	p {
		line-height: 1.5em;
		padding-left: 35px;
		font-size: 13px;

		span{
			font-size: 14px;
			font-weight: 700;
			color: #edbe76;
			text-transform: uppercase;
		}
	}
}
.step5{
	p {
		margin-bottom: 50px;
      font-size: 15px;
		a{
			color: $grey;
		}
	}
	.payment {
		margin-bottom: 55px;

		&__item {
			margin-right: 30px;
			position: relative;

			label {
				position: absolute;
				top: -21px;
				left: 10px;
				text-transform: uppercase;
				font-size: 11px;
				font-weight: 700;
				letter-spacing: 1px;
			}
			input {
				height: 45px;
				width: 300px;
                padding: 0 15px;
                box-sizing: border-box;
				border: 1px solid #d7d9e0;
				border-radius: 5px;

				&.invalid{
					background: url("/images/close.svg") no-repeat 95% 50%;
					background-size: 25px 25px;
				}
				&.valid {
					background: url("/images/check-mark.svg") no-repeat 95% 50%;
					background-size: 25px 25px;
				}
			}
		}
        &.payment3 {

            .payment__item:first-child input {
                width: 380px;
                background: url("/images/visa.svg") no-repeat 98% 50%;
                background-size: 50px auto;
                &.invalid{
                  background: url("/images/close.svg") no-repeat 95% 50%;
                  background-size: 25px 25px;
                }
                &.valid {
                  background: url("/images/check-mark.svg") no-repeat 95% 50%;
                  background-size: 25px 25px;
                }
            }
                .payment__item:nth-child(2) input {
                    width: 170px;
                    &::placeholder {
                      font-size: 12px;
                      color: #d7d9e0;
                      text-align: center;
                    }
                }
            .payment__item:last-child input {
              width: 105px;
            }
        }
	}

	.payment:last-child{
		margin-bottom: 0;
	}
}
.row-agree {
    margin-top: 100px;
    justify-content: flex-end;
    align-items: center;

    .col-l {
        margin-right: 10px;
        font-size: 12px;
        color: $dark-grey;

        input {
          position: relative;
          top: 3px;
        }
        span{
          display: inline-block;
          margin-left: 15px;
        }
        a{
          color: $dark-grey;
        }

    }
    .col-r button{
        margin-left: 30px;
    }
}

